table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  text-align: center;
  margin: auto;
}

td, th {
  border: 1px solid #040067;
  text-align: center;
  padding: 8px;
  color: #ffffff;
}

th {
  background-color: #110274;
  color: #95c6ff;
}